<style type="text/css">
<!--
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
-->
</style>
<form name="form1" method="post" action="addPartner.php">
  <div align="center">
  <br/>

  <br/><br/><br/>
    <p class="style2"> Add a New Partner </p>
	
    <table width="40%" border="0">
       <tr>
        <td width="37%" valign="top" class="style1">First Name </td>
        <td width="4%" valign="top" class="style1">:</td>
        <td width="59%" valign="top" class="style1"><label>
          <input name="first_name" type="text" id="s" size="25">
        </label></td>
      </tr>
	  <tr>
        <td width="37%" valign="top" class="style1">Last Name </td>
        <td width="4%" valign="top" class="style1">:</td>
        <td width="59%" valign="top" class="style1"><label>
          <input name="last_name" type="text" id="last_name" size="25">
        </label></td>
      </tr>
	  <tr>
        <td width="37%" valign="top" class="style1">Email Address </td>
        <td width="4%" valign="top" class="style1">:</td>
        <td width="59%" valign="top" class="style1"><label>
          <input name="email_address" type="text" id="email_address" size="25">
        </label></td>
      </tr>
	  <tr>
        <td width="37%" valign="top" class="style1">Contact Number </td>
        <td width="4%" valign="top" class="style1">:</td>
        <td width="59%" valign="top" class="style1"><label>
          <input name="contact_number" type="text" id="contact_number" size="25">
        </label></td>
      </tr>
	  
      <tr>
        <td valign="top" class="style1">&nbsp;</td>
        <td valign="top" class="style1">&nbsp;</td>
        <td valign="top" class="style1"><label>
          <input name="add_partner" type="submit" id="sent" value="Add Partner">
          <!--<input type="reset" name="Submit2" value="cancel">-->
		  <a href="index.php">Cancel</a>
        </label></td>
      </tr>
    </table>
  </div>
</form>