<style type="text/css">
<!--
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
-->
</style>
<form name="form1" method="post" action="sendBulkMails.php" name="mainform" enctype="multipart/form-data">
  <div align="center">
    <p class="style2"> Send Mail to Partners </p>
    <table width="40%" border="0">
      <!-- <tr>
        <td width="37%" valign="top" class="style1">To </td>
        <td width="4%" valign="top" class="style1">:</td>
        <td width="59%" valign="top" class="style1"><label>
          <input name="email_list" type="text" id="email_list" size="25">
        </label></td>
      </tr> -->
      <tr>
        <td valign="top" class="style1"> Subject </td>
        <td valign="top" class="style1">:</td>
        <td valign="top" class="style1"><label>
          <input name="mail_subject" type="text" id="mail_subject" size="25">
        </label></td>
      </tr>
      <tr>
        <td valign="top" class="style1"> Message </td>
        <td valign="top" class="style1">:</td>
        <td valign="top" class="style1"><label>
          <textarea name="mail_body" cols="35" rows="5" id="mail_body"></textarea>
        </label></td>
      </tr>
	  
	  <tr>
      <td valign="top" class="style1">Attach Your File (Manual)</td>
	  <td valign="top" class="style1">:</td>
      <td><input name="attachment" type="file"></td>
     </tr>
	 
	 <tr>
      <td valign="top" class="style1">Attach Your File (Manna)</td>
	  <td valign="top" class="style1">:</td>
      <td><input name="attachment2" type="file"></td>
     </tr>
	 
	 <tr>
      <td valign="top" class="style1">Attach Your File</td>
	  <td valign="top" class="style1">:</td>
      <td><input name="attachment3" type="file"></td>
     </tr>
	  	  
      <tr>
        <td valign="top" class="style1">&nbsp;</td>
        <td valign="top" class="style1">&nbsp;</td>
        <td valign="top" class="style1"><label>
          <input name="sent" type="submit" id="sent" value="send">
		  <a href="index.php">Cancel</a>
          <!--<input type="reset" name="Submit2" value="cancel">-->
        </label></td>
      </tr>
    </table>
  </div>
</form>